# Node.js
node_modules/
dist/
dist-ssr/

# Java/Maven
target/

# IDEs & OS
.vscode/
.idea/
.DS_Store
backend/src/main/resources/serviceAccountKey.json
backend/src/main/resources/application.properties
mobile/app/android/.gradle/8.14.3/executionHistory/executionHistory.bin

# Claude Code
.claude/
